<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="form-group">
        <label for="nameSurname">Name Surname</label>
        <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" placeholder="Name Surname" [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required">Please do not pass without writing Name Surname.</small>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" id="username" [ngClass]="{'is-invalid': submitted && component.username.errors}" placeholder="Username">
      </div>
        
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.required"></small>
          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.email"></small>
        </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" [ngClass]="{'is-invalid': submitted && component.password.errors}">
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Şifre Tekrar" [ngClass]="{'is-invalid': submitted && component.confirmPassword.errors}">
        <small *ngIf="submitted && frm.hasError('notSame')">Please confirm password.</small>
      </div>
      <br />
<button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
<div class="col-md-3"></div>

</div>